{{#if @config.header}}
  <header class="notebook-header clearfix">
    <input class="notebook-title" autocomplete="off" value="{{@persistence.meta.title}}">
  </header>

  <div class="notebook-toolbar clearfix notebook-{{@data.activeView}}-active">
    <div class="toolbar-end">
      <button class="edit-source toggle-notebook hint--bottom" data-hint="Edit notebook source">
        <i class="icon"></i>
      </button>
    </div>

    <div class="toolbar-inner">
      {{#if @data.stateText}}
        <div class="persistence-status">{{@data.stateText}}.</div>
      {{/if}}
      <div class="toolbar-buttons">
        <span class="btn-edit">
          <button class="btn-text toggle-notebook">Return to notebook view</button>
        </span>
        <span class="btn-view">
          {{#if @config.savable}}
            {{#if @data.owner}}
              {{#if @data.saved}}
                <button class="btn-round notebook-clone hint--bottom" data-hint="Clone notebook">
                  <i class="icon-fork"></i>
                </button>
              {{/if}}
            {{/if}}
            <button class="btn-round notebook-save hint--bottom" data-hint="Save notebook">
              <i class="icon-floppy"></i>
            </button>
          {{/if}}
          <button class="btn-round notebook-exec hint--bottom" data-hint="Execute notebook">
            <i class="icon"></i>
          </button>
          <button class="btn-round notebook-share hint--bottom" data-hint="Share notebook">
            <i class="icon-share"></i>
          </button>
          <button class="btn-round notebook-help hint--bottom" data-hint="Notebook shortcuts">
            <i class="icon"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
{{/if}}

<div class="notebook clearfix">
  {{#if @config.sidebar}}
    {{{view @data.sidebar}}}
  {{/if}}

  <div class="notebook-content">
    {{{view @data.notebook}}}

    {{#unless @config.embedded}}
      <a href="http://mulesoft.com" class="ir powered-by-logo">Mulesoft</a>
    {{/unless}}
  </div>
</div>

{{#if @state.loading}}
  <div class="modal ui-loading">
    <i class="ui-loading-icon icon-arrows-cw animate-spin"></i>
  </div>
{{/if}}

{{#if @config.footer}}
  <div class="notebook-footer clearfix">
    <div class="footer-end">
      <button class="btn-footer notebook-exec hint--top" data-hint="Execute all cells">
        Play notebook<i class="icon-play"></i>
      </button>
      <a href="{{@config.fullUrl}}" class="btn-footer hint--top" data-hint="Open Notebook on {{@config.siteTitle}}">
        Open notebook<i class="icon-popup"></i>
      </a>
    </div>

    <div class="footer-inner">
      <a href="{{@config.fullUrl}}">{{@persistence.meta.title}}</a> hosted by <a href="{{@config.siteUrl}}">{{@config.siteTitle}}</a>
    </div>
  </div>
{{/if}}
