<header class="notebook-header clearfix">
  <input class="notebook-title" autocomplete="off" value="{{@persistence.meta.title}}">
</header>

<div class="notebook-toolbar clearfix user-{{#if @data.owner}}is{{else}}not{{/if}}-owner user-{{#if @data.authenticated}}is{{else}}not{{/if}}-authenticated notebook-{{#if @data.saved}}is{{else}}not{{/if}}-saved notebook-{{@data.activeView}}-active">
  <div class="toolbar-end">
    <button class="edit-source toggle-notebook hint--bottom" data-hint="Edit notebook source">
      <i class="icon"></i>
    </button>
  </div>

  <div class="toolbar-inner">
    <div class="persistence-status">
      <button class="btn-square notebook-list hint--bottom" data-hint="List all notebooks">
        <i class="icon-folder-open-empty"></i>
      </button>
      <div class="auth-status text-status">{{@persistence.userTitle}}</div>
      <div class="save-status text-status">{{#if @data.stateText}}{{@data.stateText}}.{{/if}}</div>
    </div>
    <div class="toolbar-buttons">
      <span class="btn-edit">
        <button class="btn-text toggle-notebook">Return to notebook view</button>
      </span>
      <span class="btn-view">
        <button class="btn-round notebook-clone hint--bottom" data-hint="Clone notebook">
          <i class="icon-fork"></i>
        </button>
        <button class="btn-round notebook-save hint--bottom" data-hint="Save notebook">
          <i class="icon-floppy"></i>
        </button>
        <button class="btn-round notebook-exec hint--bottom" data-hint="Execute notebook">
          <i class="icon"></i>
        </button>
        <button class="btn-round notebook-share hint--bottom" data-hint="Share notebook">
          <i class="icon-share"></i>
        </button>
        <button class="btn-round notebook-help hint--bottom" data-hint="Notebook shortcuts">
          <i class="icon"></i>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="modal ui-loading">
  <i class="ui-loading-icon icon-arrows-cw animate-spin"></i>
</div>

<div class="notebook clearfix">
  <div class="notebook-content">{{{view @data.notebook}}}</div>
  <a href="http://mulesoft.com" class="ir powered-by-logo">Mulesoft</a>
</div>
