{{#if @config.header}}
  <header class="notebook-header clearfix">
    <input class="notebook-title" autocomplete="off" value="{{@persistence.meta.title}}">
  </header>

  <div class="notebook-toolbar clearfix notebook-{{@data.activeView}}-active">
    <div class="toolbar-end">
      <button class="edit-source toggle-notebook hint--bottom" data-hint="Edit source">
        <i class="icon"></i>
      </button>
    </div>

    <div class="toolbar-inner">
      {{#if @data.stateText}}
        <div class="persistence-status">{{@data.stateText}}.</div>
      {{/if}}
      <div class="toolbar-buttons">
        <span class="btn-edit">
          <button class="btn-text toggle-notebook">Return to notebook view</button>
        </span>
        <span class="btn-view">
          <span class="btn-group">
            <button class="btn-round notebook-new hint--bottom" data-hint="New Notebook">
              <i class="icon-doc"></i>
            </button>
            <button class="btn-round notebook-save hint--bottom" data-hint="Save Notebook">
              <i class="icon-floppy"></i>
            </button>
            {{#if @config.savable}}
              {{#if @data.owner}}
                {{#if @data.saved}}
                  <button class="btn-round notebook-clone hint--bottom" data-hint="Clone Notebook">
                    <i class="icon-fork"></i>
                  </button>
                {{/if}}
              {{/if}}
            {{/if}}
            <button class="btn-round notebook-share hint--bottom" data-hint="Share Notebook">
              <i class="icon-share"></i>
            </button>
          </span><span class="btn-group">
            <button class="btn-round notebook-exec hint--bottom" data-hint="Play Notebook">
              <i class="icon-play"></i>
            </button>
            <button class="btn-round notebook-help hint--bottom" data-hint="Notebook Shortcuts">
              <i class="icon"></i>
            </button>
          </span>
        </span>
      </div>
    </div>
  </div>
{{/if}}

<div class="notebook">
  {{#if @config.sidebar}}
    {{{view @data.sidebar}}}
  {{/if}}

  <div class="notebook-content">
    {{{view @data.notebook}}}

    {{#unless @config.embedded}}
      <a href="http://mulesoft.com" class="ir powered-by-logo">Mulesoft</a>
    {{/unless}}
  </div>
</div>

{{#if @state.loading}}
  <div class="modal ui-loading">
    <i class="ui-loading-icon icon-arrows-cw animate-spin"></i>
  </div>
{{/if}}

{{#if @config.footer}}
  <div class="notebook-footer clearfix">
    <div class="footer-end">
      <button class="btn-footer notebook-exec hint--top" data-hint="Execute all cells">
        Play notebook<i class="icon-play"></i>
      </button>
      <a href="{{@config.fullUrl}}" class="btn-footer hint--top" data-hint="Make your own copy of this Notebook">
        Fork notebook<i class="icon-fork"></i>
      </a>
    </div>

    <div class="footer-inner">
      <a href="{{@config.fullUrl}}">{{@persistence.meta.title}}</a> hosted by <a href="{{@config.siteUrl}}">{{@config.siteTitle}}</a>
    </div>
  </div>
{{/if}}
